@using BlazorFluentUI.Themes.Default


<div>
    <div class="top-row">
        <span class="navbar-toggler"><FluentButton @onclick="ToggleNavMenu"> <FluentIcon Name="navigation" Size=Microsoft.Fast.Components.FluentUI.IconSize.Size20 Filled=false></FluentIcon></FluentButton></span>
        <span style="color:darkcyan;text-align:center;">bReader</span>
        <span> <FluentButton @onclick="SwitchTheme"><FluentIcon Name="@themeIcon" Size=Microsoft.Fast.Components.FluentUI.IconSize.Size20 Filled=false></FluentIcon></FluentButton> </span>
    </div>
    <nav class="@NavMenuCssClass">
        <FluentListbox TValue=NavLink>
            <FluentOption>
                <NavLink @onclick="ToggleNavMenu" href="/"><FluentIcon Name="home" Size=Microsoft.Fast.Components.FluentUI.IconSize.Size16 Filled=false /> 首页 </NavLink>
            </FluentOption>
            <FluentOption>
                <NavLink @onclick="ToggleNavMenu" href="settings"> <FluentIcon Name="settings" Size=Microsoft.Fast.Components.FluentUI.IconSize.Size16 Filled=false /> 设置 </NavLink>
            </FluentOption>
        </FluentListbox>
        <FluentDivider />

        <FluentAccordion>
            <FluentAccordionItem Expanded=true>
                <span slot="heading"> 收藏</span>
                <FluentListbox TValue=NavLink>
                    @foreach (var fav in FavoriteFeeds)
                        {
                    <FluentOption>
                        <NavLink @onclick="ToggleNavMenu" href=@($"feed/{fav.Pk}")><span class="nav-content" data-unread=@(fav.UnreadCount)> @fav.Title </span></NavLink>
                    </FluentOption>
                        }
                </FluentListbox>
            </FluentAccordionItem>
            <FluentDivider />
            @foreach (var group in FeedGroups)
            {
                <FluentAccordionItem>
                    <span slot="heading"> @group.Name</span>
                    <FluentListbox TValue=NavLink>
                        @foreach (var feed in group.Feeds)
                    {
                        <FluentOption>
                            <NavLink @onclick="ToggleNavMenu" href=@($"feed/{feed.Pk}")><span class="nav-content" data-unread=@(feed.UnreadCount)> @feed.Title </span></NavLink>
                        </FluentOption>
                    }
                </FluentListbox>
            </FluentAccordionItem>
            }
        </FluentAccordion>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    //[CascadingParameter]
    //private IEnumerable<FeedDto> FeedDtos { get; set; } = new List<FeedDto>();
    [CascadingParameter]
    private ICollection<FeedGroupDto> FeedGroups { get; set; }
    [CascadingParameter]
    private ICollection<FeedDto> FavoriteFeeds { get; set; }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        customTheme = ThemeProvider?.Theme.Palette.GetType() == typeof(DefaultPaletteDark);
    }


    [Inject]
    public ThemeProvider? ThemeProvider { get; set; }
    private bool customTheme;
    private string? dark;
    private string themeIcon => customTheme ? "weather_moon" : "weather_sunny";
    private void SwitchTheme()
    {
        Console.WriteLine("SwitchTheme");
        customTheme = !customTheme;
        if (customTheme)
        {
            var palette = new DefaultPaletteDark();
            ThemeProvider?.UpdateTheme(palette, new DefaultSemanticColorsDark(palette), new DefaultSemanticTextColorsDark(palette));

            //dark = $"background-color: {ThemeProvider?.Theme.SemanticColors.BodyBackground}";

        }
        else
        {
            ThemeProvider?.UpdateTheme(new DefaultPalette());
            dark = "";
        }
    }
}
